@charset "utf-8";
html{
    margin:0;
    padding:0px 0px 0px 0px;
}
body {
    font-size: 150%;
    line-height: 2;
    color: #333333;
    margin-left: 50px;
}
p.about{
    text-align:left;
    line-height:1.5;
}
p.education{
    line-height:1.5;
}
h1.title {
    padding: 0px 0px 0px 0px;
    text-align: center;
    padding: 130px;
    font-size:100px;
}
#footer {
    padding: 20px 0px 20px 0px;
    border-top: 1px black solid;
    text-align: left;
    font-size: small;
}
p.link {
    text-align:end;
    text-align:center;
}
#header {
    position: fixed; /* ヘッダーの固定 */
    top: 0px; /* 位置(上0px) */
    left: 0px; /* 位置(右0px) */
    width: 100%; /* 横幅100%　*/
    height: 100px; /* 縦幅140px */
    background-color: #333333;
    padding: 0px 0px 0px 0px;
    text-align: right;
    position: fixed;
    margin-left: 10px;
    margin-right: 10px;
}
li{
    display:inline;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
}
a{
    text-decoration:none;
    color:white;
}
