*
{
    font-family: Helvetica;
    line-height: 180%;
}

body
{
    margin: 0;
}

div
{
    color: #f8f8ff;
    /*
    background: #EECDA3;  !* fallback for old browsers *!
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  !* Chrome 10-25, Safari 5.1-6 *!
    background: linear-gradient(to right, #EF629F, #EECDA3); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!
    */
    background-image: url("AdobeStock_81042545.jpeg");

}

hr
{
    border-top: 1px dashed #bbb;
    border-bottom: 1px dashed #fff;
}


img.avatar
{
    border-radius: 100%;
    padding-top: 50px;
    width: 500px ; height: 500px

}

main
{
    color: #f8f8ff;
    text-align: center;
}

p.programming,p.activity
{
    text-align: left;
    margin-right: 150px;
    margin-left: 150px;
}

p.education,p.about
{
    text-align: right;
    margin-right: 150px;
    margin-left: 150px;
}

p
{
    font-size: large;
    text-align: center;
}

h1
{
    font-size: 50px;
    line-height: 200%;
}

h2
{
    font-size: 30px;
    text-align: center;
    line-height: 250%;
}

img
{
    text-align: center;
    width: 100px ; height: 100px
}

footer
{
    text-align: center;
}
