@charset "utf-8";
html{
    margin:0;
    padding:0px 0px 0px 0px;
}
body {
    font-size: 200%;
    line-height: 2;
    color: #444444;
    margin-left: 50px;
}
p.about{
    text-align:left;
    line-height:1.5;
}
p.education{
    line-height:1.5;
}
h1.title {
    padding: 0px 0px 0px 0px;
    text-align: center;
    padding: 130px;
    font-size:80px;
}
#footer {
    padding: 20px 0px 20px 0px;
    border-top: 1px black solid;
    text-align: left;
    font-size: small;
}
p.link {
    margin-left:50px;
    margin-right:50px;
    text-align:center;
}
#header {
    position: fixed; /* ヘッダーの固定 */
    top: 0px; /* 位置(上0px) */
    left: 0px; /* 位置(右0px) */
    right: 0px;
    width: 100%; /* 横幅100%　*/
    height: 120px; /* 縦幅140px */
    background-color: #333333;
    padding: 0px 0px 0px 0px;
    text-align: right;
    position: fixed;
    margin-left: 0px;
    margin-right: 0px;
}
li{
    display:inline;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
}
a{
    text-decoration:none;
    color:white;
}
@media only screen and (max-width: 979px) {

    Html {
        Width: 100%;
    }
}
/*デバイスの横幅が979px以下の場合*/

@media only screen and (min-width: 321px) and (max-width: 768px) {

    Html {
        Width: 100%;
    }

}
/*デバイスの横幅が321以上768以下の場合*/

@media only screen and (max-width: 320px) {

   #header {
        Width: 120%;
    }
}
